<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Controle de Empréstimos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="medium">
    <ion-item lines="inset">
        <img src="../../../assets/img/registration.jpg">
    </ion-item>
    
    <ion-item>
      <h4>Bem vindo ao Controle de Empréstimos!</h4>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer class="ion-padding" no-border>
    <ion-button expand="block" color="medium" routerLink="/login">
      <ion-icon name="md-log-in" slot="start"></ion-icon>
      <ion-text>Faça o login </ion-text>
    </ion-button>
  </ion-footer>
