<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista de Equipamentos</ion-title>
    <ion-buttons slot=start>
      <ion-button></ion-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card>
        <ion-item>
            <ion-img src="../../../assets/img/notebook.jpg"></ion-img>
        </ion-item>
        <ion-item>
            <ion-label>Notebook</ion-label>
            <ion-label class="status">Status: Disponível</ion-label>
            <ion-buttons>
              <ion-button (click)="registrar()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-item>
      </ion-card>  
      <ion-card>
        <ion-item>
            <ion-img src="../../../assets/img/projetor.jpg"></ion-img>
        </ion-item>
        <ion-item>
            <ion-label>Projetor</ion-label>
            <ion-label class="status">Status: Disponível</ion-label>
            <ion-buttons>
                <ion-button (click)="registrar()">
                    <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons>
        </ion-item>
      </ion-card>  
      <ion-card>
        <ion-item>
            <ion-img src="../../../assets/img/apagador.jpg"></ion-img>
        </ion-item>
        <ion-item>
            <ion-label>Apagador</ion-label>
            <ion-label class="status">Status: Disponível</ion-label>
            <ion-buttons>
              <ion-button (click)="registrar()">
              <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-item>
      </ion-card>  
      
</ion-content>
