<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Login</ion-title>
      <ion-buttons slot=start>
        <ion-button></ion-button>
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="bottom">
        <ion-card>
          <ion-list>
            <ion-header>Fazer login</ion-header>
            <ion-item>
              <ion-input (ionChange)="valida(this.email)" type="text" [(ngModel)]="email" placeholder="Email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input (ionChange)="valida(this.senha)" type="password" [(ngModel)]="senha" placeholder="Senha" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-card>
        <ion-fab slot="fixed" horizontal="end" vertical="bottom">
          <ion-fab-button (click)="login()">
            <ion-icon name="send"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
</ion-content>
